<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css' ) }}">
    {% block css_dinamico %}{% endblock %}
    <title>Document</title>
</head>
<body>
    <nav class="nav">
        <a href="{{ url_for('tandil80k') }}">TANDIL 80K</a>
        <a href="{{ url_for('tandil30k') }}">TANDIL 30K</a>
        <a href="{{ url_for('registration') }}">INSCRIBITE</a>
    </nav>

    <main class="main">
        {% block content %}{% endblock %}
    </main>
    
    <footer>
        A
    </footer>
</body>
</html>