{% extends "base.html" %} 

{% block css_dinamico %}
    {% if section == 30 %}
      <link
        rel="stylesheet"
        href="{{ url_for('static', filename='styles/30k.css' ) }}"
      />
    {% elif section == 80 %}
      <link
        rel="stylesheet"
        href="{{ url_for('static', filename='styles/80k.css') }}"
      />
    {% endif %}
{% endblock %}

{% block content %}
<!-- Hero Section -->
<section class="hero">
    <div class="hero__overlay"></div>
    <div class="hero__content">
        <h1 class="hero__title">MTB TANDIL 2025</h1>
        <h2 class="hero__subtitle">BUENOS AIRES</h2>
        <p class="hero__date">PRÓXIMA EDICIÓN: 24 DE OCTUBRE 2025</p>
        <a href="{{ url_for('registration') }}" class="hero__btn">INSCRIPCIÓN</a>
    </div>
</section>
<!-- End Hero Section -->
 
<!-- Information Section -->
<section class="information-section">
  <div class="info-container">
    <h2 class="info-title">DISTANCIA LARGA 80K</h2>
    <p class="info-subtitle">
      VIVÍ LA AVENTURA SOBRE DOS RUEDAS EN EL RECORRIDO MÁS EXIGENTE DE 
      <span class="highlight">LATINOAMÉRICA</span>, UNA 
      <span class="highlight">TRADICIÓN DEL MTB</span> QUE REÚNE A CICLISTAS DE TODAS PARTES DEL MUNDO
    </p>

    <div class="cards">
      <div class="card">
        <div class="info-icon"><i class="fas fa-calendar-alt"></i></div>
        <div class="info-text">
          <h4>FECHA</h4>
          <p>{{ evento.fecha }}</p>
        </div>
      </div>
      <div class="card">
        <div class="info-icon"><i class="fas fa-map-marker-alt"></i></div>
        <div class="info-text">
          <h4>LARGADA/LLEGADA</h4>
          <p>{{ evento.largada }}</p>
        </div>
      </div>
      <div class="card">
        <div class="info-icon"><i class="fas fa-clock"></i></div>
        <div class="info-text">
          <h4>HORARIO</h4>
          <p>{{ evento.horario }}</p>
        </div>
      </div>
      <div class="card">
        <div class="info-icon"><i class="fas fa-edit"></i></div>
        <div class="info-text">
          <h4>INSCRIPCIÓN</h4>
          <p><a href="{{ url_for('registration') }}">COMPLETÁ EL FORMULARIO</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Information Section -->

<!-- Banner Section -->
<section id="banner-section">
    <div class="banner-overlay"></div>
    <div class="banner-content">
        <h1 class="banner-title">¿LISTO PARA EL DESAFÍO EN DOS RUEDAS?</h1>
        <h2 class="banner-subtitle">DISFRUTÁ TANDIL</h2>
    </div>
</section>
<!-- End Banner Section -->

<!-- Kit Section -->
<section class="kit-section">
  <div class="kit-container">
    <h2 class="info-title">Encontrá toda la info para el retiro de tu kit</h2>
      <div class="kit-imagen">
        <img
          src="{{ url_for('static', filename='images/kit-carrera.png') }}"
          alt="Kit de la carrera"
        />
      </div>
      <div class="cards">
        <div class="card">
          <div class="info-text">
            <h3>Días y Horarios</h3>
            <ul>
              <li>Miércoles 22 de Octubre: 12 a 19 hs</li>
              <li>Jueves 23 de Octubre: 12 a 19 hs</li>
            </ul>
          </div>
        </div>
        <div class="card">
          <div class="info-text">
            <h3>Lugar</h3>
            <p>Parque Sarmiento</p>
            <p>Ingreso por Av. Alvear</p>
            <a href="#" target="_blank">Ver en mapa</a>
          </div>
        </div>  
        <div class="card">
          <div class="info-text">
            <h3>Retiro kit Titular</h3>
            <ul>
              <li>Documento (DNI, Pasaporte, Otro)</li>
              <li>Código QR</li>
              <li>Número de dorsal</li>
            </ul>
          </div>
        </div>
        <div class="card">
          <div class="info-text">
            <h3>Retiro kit por un tercero</h3>
            <ul>
              <li>Documento del titular (DNI, Pasaporte, Otro)</li>
              <li>Documento del que retira (DNI, Pasaporte, Otro)</li>
              <li>Código QR</li>
              <li>Número de dorsal</li>
            </ul>
          </div>
        </div>
      </div>
  </div>
</section>
<!-- End Kit Section -->

<!-- Map Section -->
<section class="map-section">
  <h2>Recorrido</h2>

  {% if section == 80 %}
  <h3>Modalidad 80k</h3>
  <iframe src="{{ evento.mapas['80'] }}" width="90%" height="480"> </iframe>

  {% elif section == 30 %}
  <h3>Modalidad 30k</h3>
  <iframe src="{{ evento.mapas['30'] }}" width="90%" height="480"> </iframe>
  {% endif %}
</section>
<!-- End Map Section -->

<!-- Auspiciantes Section -->
<section class="section-f">
  <div class="auspiciantes">
    <h2>NOS ACOMPAÑAN</h2>
    <div class="logos">
      {% for ausp in evento["Auspiciantes"] %}
      <div class="logo-card">
        <img
          src="{{ url_for('static', filename=ausp['logo']) }}"
          alt="{{ ausp['nombre'] }}"
        />
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- End Auspiciantes Section -->
{% endblock %}
