:root {
    --primary-color: #00ff99;
    --primary-color-foreground: #00e67a;
}

.navbar__item {
    border: 2px dotted var(--primary-color);
}

.navbar__item:hover {
  background: var(--primary-color);
}

@media (min-width: 46rem) {
    .navbar__item {
        border: none;
    }

    .navbar__item:hover {
        color: var(--primary-color);
        background-color: transparent;
    }
}

.header__logo {
    border: 2px solid var(--primary-color);
}

.hero__subtitle {
  background: var(--primary-color);
}

.hero__subtitle:hover {
  background: var(--primary-color-foreground);
}